<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/base">
<body>
	<div layout:fragment="main-content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">Workflow Mapping</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<form method="post" th:action="@{/wfmapping/save}"
							th:object="${wfMapping}">
							<input type="hidden" th:field="*{id}" /> <input type="hidden"
								th:field="*{objectId}" />
							<div class="col-lg-6">
								<div class="form-group">
									<div class="row">
										<div class="col-lg-4">
											<label class="control-label">Workflow List</label>
										</div>
										<div class="col-lg-8">
											<select multiple="multiple" th:field="*{workflowSqlId}">
												<option th:each="workflow : ${workflowList}"
													th:value="${workflow.getKey()}"
													th:text="${workflow.getKey()}">Workflow Name</option>
											</select>
										</div>
									</div>
								</div>
								
								<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>

<!-- 								<button type="submit" class="btn btn-primary">Submit</button> -->
								<!-- /.row (nested) -->
							</div>
						</form>
					</div>
					<div class="row top-buffer">
						<div class="table-responsive col-md-8">
							<div id="wfmapping-list-table-container">
								<table id="wfmapping-list-table"
									class="my_table_1 table table-striped table-bordered">
									<thead>
										<tr>
											<th>Workflow List</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="id : ${selectedIdList}">
											<td th:text="${id}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div layout:fragment="script">
		<script th:src="@{/scripts/siteman/workflow.js}"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				Workflow.Mapping.init();
			});
		</script>
	</div>
</body>
</html>
