<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/base">
<body>
	<div layout:fragment="main-content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">List</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<a class="btn btn-primary" onclick= "Lists.List.view()"><span class="glyphicon glyphicon-plus"></span>View</a>
<!-- 					<button type="button" class="btn btn-warning" -->
<!-- 						onclick="User.List.edit()"><span class="glyphicon glyphicon-edit"></span> Edit</button> -->
<!-- 					<button type="button" class="btn btn-danger" -->
<!-- 						onclick="User.List.remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button> -->
<!-- 					<button type="button" class="btn btn-primary" -->
<!-- 						onclick="User.List.assignWFGroup()">Assign Workflow Group</button> -->
					<div class="table-responsive">
						<div id="lists-list-table-container">
							<table id="lists-list-table"
								class="my_table_1 table table-striped table-bordered">
								<thead>
									<tr>
										<th>_id</th>
										<th>Name</th>
										<th>Type</th>
										<th>DefaultName</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="Lists : ${listobj}">
										<td th:text="${Lists?.getId()}"></td>
										<td th:text="${Lists?.getName()}"></td>
										<td th:text="${Lists?.getType()}"></td>
										<td th:text="${Lists?.getDefaultname()}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div layout:fragment="script">
		<script th:src="@{/scripts/siteman/list.js}"></script>
		<script th:inline="javascript">
			$(document).ready(
					function() {
						/*<![CDATA[*/
						var msg = /*[[${message}]]*/null;
						if (msg) {
							SiteMAN.showNotification(msg,
									SiteMAN.NotificationType.success);
						}
						/*]]>*/
						Lists.List.init();
					});
		</script>
	</div>
</body>
</html>
