<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/base">
<body>
	<div layout:fragment="main-content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">Workflow List</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-lg-12">
<!-- 					<a class="btn btn-primary" th:href="@{/workflow/create}">Add</a> -->
					<div class="table-responsive">
						<div id="workflow-list-table-container">
							<table id="workflow-list-table"
								class="my_table_1 table table-striped table-bordered">
								<thead>
									<tr>
										<th>Name</th>
										<th>Key</th>
										<th>DeploymentId</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="workflow : ${wfList}">
										<td th:text="${workflow.getName()}"></td>
										<td th:text="${workflow.getKey()}"></td>
										<td th:text="${workflow.getDeploymentId()}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div layout:fragment="script">
		<script th:src="@{/scripts/siteman/user.js}"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				User.Workflow.init();
			});
		</script>
	</div>
</body>
</html>
