<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/base">
<body>
	<div layout:fragment="main-content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">OOPS!! Error</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign"
							aria-hidden="true"></span> <span class="sr-only">Error:</span> <span
							th:text="${message}">Enter a valid email address</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>