<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/base">
<body>
	<div layout:fragment="main-content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">Workflow Group List</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-lg-12" style="padding-left:20px">
					<a class="btn btn-primary" th:href="@{/wfgroup/create}"><span class="glyphicon glyphicon-plus"></span> Add</a>
				</div>
				<div class="col-lg-12">
					<div class="table-responsive col-md-8">
						<div id="user-wfgroup-list-table-container">
							<table id="user-wfgroup-list-table"
								class="my_table_1 table table-striped table-bordered">
								<thead>
									<tr>
										<th>Workflow Group</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="wfGroup : ${wfGroupList}">
										<td th:text="${wfGroup}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div layout:fragment="script">
		<script th:src="@{/scripts/siteman/user.js}"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				User.WFGroup.renderGrid();
			});
		</script>
	</div>
</body>
</html>
